.details .flex {
  justify-content: space-around;
  align-items: center;
}

.back {
  background-color: blue;
  color: white;
  padding: 10px;
  border-radius: 50%;
}

.back:hover {
  color: blue;
  background-color: white;
}

table {
  margin: 0 auto;
}

td {
  padding: 10px;
  border: 2px solid #333;
}

thead {
  background-color: #333;
  color: #fff;
}

th {
  padding: 10px;
  border: 1px solid #333;
}

@media screen and (max-width: 425px) {
  .content h1 {
    font-size: 25px;
  }
}

@media screen and (max-width: 375px) {
  .details {
    margin: auto 25px;
  }

  .content h1 {
    font-size: 20px;
  }
}

@media screen and (max-width: 320px) {
  .content .details img {
    width: 50px;
    height: 50px;
  }
}
