$myColor: blue;

.content .pays {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.filter {
  color: rgb(0, 0, 255);
  background-color: white;
  border-radius: 25px;
  box-shadow: inset 0 0 5px;
}

.content .pays li .drapeau .drop {
  background-color: rgb(0, 0, 255, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.content .pays li .drapeau .drop:hover {
  opacity: 1;
}

.color {
  color: $myColor;
}

.row-3 input,
.select-btn {
  color: black;
}

.border-input {
  border: 1px solid #8c7efc;
}

.flex .option li:hover {
  color: white;
  background-color: blue;
}

.btnFilter {
  position: fixed;
  top: 80px;
  display: none;
  margin: 0 auto;
  border: 1px solid blue;
  color: #000;
  border-radius: 25px;
  padding: 5px;
  margin-top: 15px;
  background-color: rgb(249, 249, 249);
}

.btnFilter:hover {
  background-color: rgba(0, 0, 255, 0.1);
}

.overflow-y-auto::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(0, 0, 255, 0.2);
  border-radius: 5px;
}

.overflow-y-auto::-webkit-scrollbar-thumb {
  width: 7px;
  border-radius: 5px;
  background-color: blue;
}

.row-3 input::placeholder,
.row-4 input::placeholder,
.row-5 input::placeholder {
  color: black;
}

.content .pays li {
  text-align: center;
}

.content .pays li .code:hover {
  text-decoration: underline;
}

.row-3 li input:hover {
  color: black;
  background-color: white;
}

.row-1 label,
.row-2 label {
  text-align: center;
}

.row-4,
.row-5 {
  margin: 0 auto;
}

.content .arrow {
  padding-top: 10px;
  background-color: blue;
  color: white;
  border-radius: 50%;
  animation: translate 2s infinite;
}

@keyframes translate {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(15px);
  }
}

@media screen and (min-width: 1700px) {
  .content h1 {
    left: 0;
  }
  .content .pays {
    left: 550px;
  }

  .filter {
    left: 250px;
  }
}

@media screen and (max-width: 1330px) {
  .content .pays li .drapeau .drop {
    background-color: transparent;
    color: rgb(0, 255, 217);
  }
}

@media screen and (max-width: 1200px) {
  .content .pays {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media screen and (max-width: 1024px) {
  .content .pays {
    grid-template-columns: repeat(4, 1fr);
  }
  .content .col-1 {
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 900px) {
  .content .cadre {
    flex-direction: column;
  }
  .content .pays {
    top: 100px;
    left: 0;
    grid-template-columns: repeat(5, 1fr);
  }
  .content .filter {
    flex-direction: column;
    top: 150px;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 25px;
    width: 88%;
  }

  .none {
    display: none;
  }

  .btnFilter {
    display: block;
  }

  .content .filter .col-1 {
    display: flex;
  }
  .content .filter .col-2 {
    flex-direction: row;
  }
  .content h1 {
    position: relative;
    font-size: 30px;
    padding: 20px;
  }
}

@media screen and (max-width: 768px) {
  .content .pays {
    grid-template-columns: repeat(4, 1fr);
  }

  .drop {
    display: none;
  }

  .col-1 {
    flex-wrap: wrap;
  }
  .row-3 input {
    width: 100%;
  }
}

@media screen and (max-width: 615px) {
  .content .pays {
    grid-template-columns: repeat(3, 1fr);
  }
  .content .col-1 {
    justify-content: space-between;
  }
  .content .filter {
    top: 80px;
  }
  .content .col-1 .row-3 {
    width: 100%;
    margin-left: 25px;
    margin-right: 25px;
  }
  .content h1 {
    padding: 15px;
  }
}

@media screen and (max-width: 510px) {
  .content h1 {
    font-size: 25px;
  }
}

@media screen and (max-width: 485px) {
  .content .pays {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 375px) {
  .content .row-1,
  .content .row-2 {
    width: 100%;
  }
  .content .pays img {
    object-fit: contain;
  }
}

@media screen and (max-width: 320px) {
  .content h1 {
    font-size: 20px;
  }
}
