.content ul {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.content ul li {
  text-align: center;
  color: rgb(0, 21, 156);
}

.content ul li span {
  color: rgb(0, 255, 251);
  width: 133px;
  height: 80px;
  opacity: 0;
}

.content ul li span:hover {
  opacity: 1;
}

.content ul li .code:hover {
  text-decoration: underline;
}

.row-2 li input:hover {
  color: black;
  background-color: white;
}

@media screen and (max-width: 1024px) {
  .content ul {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .content ul {
    grid-template-columns: repeat(4, 1fr);
  }

  .col {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .row-1 input,
  .row-3 input {
    width: 288px;
  }
}

@media screen and (max-width: 600px) {
  .content ul {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 399px) {
  .row-4,
  .row-5 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 425px) {
  .content ul {
    grid-template-columns: repeat(2, 1fr);
  }
  .content .arrow {
    width: 30px;
    height: 50px;
  }
}
