@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #b3b3b3;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 15px;
}

.container {
  margin: 0 auto;
  max-width: 1700px;
}

li {
  list-style: none;
}

.load {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.animate {
  animation: flip;
  animation-duration: 2s;
}
